@import '../../assets/style.less';

#main-header {
  color: #colors[text-secondary];
  font-size: 2em;
  font-weight: bolder;
  margin-left: 10%;
  margin-bottom: 3%;
  text-align: left;
  padding-top: 20px;
}

#classrooms-container {
  margin: 6vh auto 4vh auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80vw;
  height: auto;
  background: #colors[senary];
  border-radius: 5px;
  border: 2px solid #colors[secondary];
}

#dashboard-card-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 80vw;
  margin: auto auto auto 2%;
}
  
#moderation-wrapper {
  margin: 4vh auto 4vh auto;
  display: inline-block;

}

#moderation-title {
  background-color: #colors[secondary];
  border-radius: 80px;
  width: 25%;
  min-height: 8%;
  color: #colors[text-secondary];
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 20px;
  line-height: 50px;
  text-align: center;
}

#ContentBox{
  margin: 1vw;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
  background: #colors[senary];
  padding: 0.5vw;
  width: 80vw;
  position: float;
  text-align: center;
  border-radius: 10px;
  border-color: #colors[secondary];
}

.ClassroomBox{
  margin: 1vw;
  //display: grid;
  //grid-template-columns: auto auto auto;
 
  background: #c60404;
  padding: 0.5vw;
 
  width: 100vw;
  min-height: 30vh;
  position: static;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border-color: #colors[secondary];

 
  color: #colors[text-primary];
  
  
}

.ClassDropdown{
  background-color: #colors[secondary];
  border-radius: 20px;
  width: 26vw;
  min-height: 8%;
  color: #colors[text-secondary];
  font-size: 1.3em;
  font-weight: bold;

  position: absolute;
  line-height: 40px;
  top: -15.5vh;
  right: -7vw;
  text-align: center;
}

.Selection
{
  border-width: 2px;
  border-radius: 5px;
  width:fit-content;
  font-weight: bold;
  background-color: #colors[secondary];
  color: #colors[text-secondary];
  position:relative;
  bottom:1vh;
  border-color: white;
}